<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="WORKERS.Boast.mapper.BoastMapper">
	<resultMap id="Boastlist" type="WORKERS.Boast.dto.BoastDTO">
	<result column="bNoSP" property="bNoSP"/>
	<result column="bTitle" property="bTitle"/>
	<result column="bDate" property="bDate"/>
	</resultMap>

    
    <select id="getList" resultMap="Boastlist">
    	select bNoSP, bTitle, bDate from BoastTable
    </select>
    
    
</mapper>   