<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="WORKERS.mypage.repository.UserMapper">
 
    <resultMap id="result" type="WORKERS.mypage.model.User">
        <result property="userEmail"  column="userEmail" /> 
        <result property="userPw" column="userPw"/>   
        <result property="nickName" column="nickName"/>      
        <result property="birthday" column="birthday"/>   
        <result property="userGrade" column="userGrade"/>   
        <result property="selfIntroduce" column="selfIntroduce"/>  
    </resultMap>
   
 
    <select id="getAll" resultMap="result">
        select aid, title, regdate as cdate from news
    </select>
 
    <select id="getNews" parameterType="int" resultMap="result">
       select aid, title, img, regdate as cdate, content 
         from news where aid=#{aid}
    </select>
 
    <insert id="signUpUser">
       insert into userTable(userEmail,userPw,nickName,birthday,selfIntroduce)
	    values(#{userEmail},#{userPw},#{nickName},#{birthday},#{selfIntroduce})
    </insert>
 
<!--  
    <delete id="delete" parameterType="int">
       delete from news where aid=#{aid}
    </delete> -->
</mapper>