<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="WORKERS.boast.repository.BoastMapper">
					

	<resultMap id="boastlist" type="WORKERS.boast.model.Boast">
		<result property="bNoSP" column="bNoSP"/>
		<result property="bTitle" column="bTitle"/>
		<result property="bWriter" column="bWriter"/>
		<result property="bContent" column="bContent"/>
		<result property="bDate" column="bDate"/>
	</resultMap>
	<resultMap id="boastImg" type="WORKERS.boast.model.BoastImage">
		<result property="bImageNoF" column="bImageNoF"/>
		<result property="bImage" column="bImage"/>
	</resultMap>
	<resultMap id="commentAll" type="WORKERS.boast.Comment">
		<result property="commentAid" column="commentAid"/>
		<result property="nickname" column="nickname"/>
		<result property="commentContent" column="commentContent"/>
		<result property="commentDate" column="commentDate"/>
		<result property="aid" column="aid"/>
	</resultMap>
    
    
    <select id= "getBoastCommentList" resultMap="commentAll">
    	select * from comments where aid=#{aid} order by commentDate desc
    </select>
    
    <insert id="addBoastComment" >
    	insert into comments
    	values (BoastCommentList_sequence.nextval,#{nickname},#{commentContent},sysdate,#{aid}) 
    </insert>
  
    <delete id="deleteBoastComment">
    	delete from comments where commentAid = #{commentAid}
    </delete>   
    
     <update id="modifyBoastComment" >
    	update comments set commentContent=#{commentContent}, 
    	                    commentDate = sysdate, 
    	                    aid=#{aid} 
    	where commentAid=#{commentAid}
    </update>
    
    <select id="FindbNoSP2" resultType="int">
    select aid from comments where commentAid=#{commentAid}
    </select>
    
    <select id="getBoastList" resultMap="boastlist">
    	select * from BoastTable order by bDate desc
    </select>
    
    <insert id="addBoast" >
 		insert into BoastTable
 		values (BoastTable_sequence.nextval,#{bTitle},#{bWriter},#{bContent},sysdate)
 	</insert>	
 	
 	<select id="findbNoSP" resultType="int">
 		select max(bNoSP) from BoastTable		
 	</select>
 	
 	<insert id="addBoastImg" >
 		insert into BoastImage
 		values (#{bImageNoF},#{bImage})
 	</insert>
    
    <select id="ViewBoast" resultMap="boastlist">
    	select * from BoastTable where bNoSP = #{bNoSP}
    </select>
    
    <select id="ViewBoastImg" resultMap="boastImg">
    	select * from BoastImage where bImageNoF = #{bImageNoF}
    </select>
    
    <delete id="DeleteBoast" >
    	delete from BoastTable where bNoSP = #{bNoSP}
    </delete>    
    
    <delete id="DeleteBoastImg" >
    	delete from BoastImage where bImageNoF = #{bImageNoF}
    </delete>
    
    <update id="ModifyBoast" >
    	update BoastTable set bTitle=#{bTitle}, bWriter=#{bWriter}, bContent=#{bContent} where bNoSP=#{bNoSP}
    </update>
    
    <update id="ModifyBoastImg" >
    	update BoastImage set bImage = #{bImage} where bImageNoF = #{bImageNoF}
    </update>
   
    
</mapper>   