<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="WORKERS.mypage.repository.UserMapper">
 
    <resultMap id="user" type="WORKERS.mypage.model.User">
        <result property="userEmail"  column="userEmail" /> 
        <result property="userPw" column="userPw"/>   
        <result property="nickName" column="nickName"/>      
        <result property="birthday" column="birthday"/>   
        <result property="userGrade" column="userGrade"/>   
        <result property="selfIntroduce" column="selfIntroduce"/>  
        <result property="oauth" column="oauth"/>  
    </resultMap>

    <!-- 유저 아이디 가져오기! -->
    <select id="findUserId" resultType="String">
    	select userEmail from userTable where userEmail = #{userEmail}
    </select>
   
 	<!-- 그 사람 정보 가져옴  -->
    <select id="findUser" resultMap="user">
        select * from userTable where userEmail = #{userEmail}
    </select>
    
    <!-- 이메일로 검색하면 0 or 1 나옴  -->
    <select id="findUserInt" resultType="int">
 		select count(*) from userTable where userEmail = #{userEmail}
 	</select>
    
 	<!-- 회원가입 시켜줌 -->
    <insert id="signUpUser">
       insert into userTable (userEmail,userPw,nickName,birthday,selfIntroduce,oauth)
	    values(#{userEmail},#{userPw},#{nickName},#{birthday},#{selfIntroduce},#{oauth})
    </insert>
    <!-- 회원정보 수정 -->
    <select id="ModifyUserInfo" resultMap="user">
    	update userTable set userPw= #{userPw}, nickName= #{nickName}, selfIntroduce= #{selfIntroduce}
    				where userEmail = #{userEmail}
    </select>
    <!-- 회원정보 삭제 -->
    <select id="DeleteUserInfo">
    	delete from userTable where userEmail = #{userEmail}
    </select>
    
    <!-- 이메일주고 비밀번호 가져오는 쿼리 -->
    <select id="findPw" resultType="String">
    	select userPw from userTable where userEmail = #{userEmail}
    </select>

</mapper>
