
@import url(/resources/reset.css);

#headerBox{
    border: #F8FFFF solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#headerBox  .headerMenu{
    width: 100%;
    display: flex;
    /* 가로로 배치하겠다  */
    flex-direction: row;
    /* 양옆으로 붙어라 */
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
#headerBox  .headerMenu .menuLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-grow: 7;
}
#headerBox  .headerMenu .menuRight{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-grow: 3;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.signUpbuttonGroup{
    display: flex;
    justify-content: space-between;
}
